In [4]:
%matplotlib inline
import pandas as pd

In [5]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [8]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [9]:
len(cast)

3336592

In [10]:
len(titles)

215971

### What are the earliest two films listed in the titles dataframe?

In [11]:
titles.sort('year').head(2)

                                                    title  year
165156                                         Miss Jerry  1894
85703   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [12]:
len(titles[titles.title =='Hamlet'])

19

In [13]:
titles['yearsquared'] = titles['year']*titles['year']
titles.head()

                     title  year  yearsquared
0           The Rising Son  1990      3960100
1        Ashes of Kukulcan  2016      4064256
2  The Thousand Plane Raid  1969      3876961
3         Crucea de piatra  1993      3972049
4                   The 86  2015      4060225

### How many movies are titled "North by Northwest"?

In [14]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [15]:
titles[titles.title == "Hamlet"].sort('year').head()

         title  year  yearsquared
43481   Hamlet  1910      3648100
195024  Hamlet  1911      3651921
154575  Hamlet  1913      3659569
91720   Hamlet  1921      3690241
5547    Hamlet  1948      3794704

### List all of the "Treasure Island" movies from earliest to most recent.

In [16]:
titles[titles.title == "Treasure Island"].sort('year')
len(titles)

215971

### How many movies were made in the year 1950?

In [147]:
len(titles[titles.year == 1950])

1037

### How many movies were made in the year 1960?

In [117]:
len(titles[titles.year == 1960])

1457

### How many movies were made from 1950 through 1959?

In [148]:
len(titles[(titles.year >=1950) & (titles.year <=1959)])

12122

### In what years has a movie titled "Batman" been released?

In [149]:
titles[titles.title == "Batman"]

        title  year  yearsquared
52137  Batman  1989      3956121
69441  Batman  1943      3775249

### How many roles were there in the movie "Inception"?

In [150]:
c = (cast[cast.title == "Inception"])
len(c.n)

73

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [154]:
c = cast[cast.title == "Inception"]
len(c[c.n.isnull()])

22

### But how many roles in the movie "Inception" did receive an "n" value?

In [160]:
c = cast[cast.title == "Inception"]
len(c[c.n.isnull()])

22

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [164]:
c = cast[cast.title == "North by Northwest"]
(c[c.n.notnull()]).sort('n')

,title,year,name,type,character,n
778971,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3107636,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1301695,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2796809,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
317620,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2704725,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1515268,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1138528,North by Northwest,1959,Martin Landau,actor,Leonard,8
2183294,North by Northwest,1959,Adam Williams,actor,Valerian,9
1618288,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
594967,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2048118,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
414219,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1348302,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
182317,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1236856,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [167]:
c = cast 
c = c[c.title == "Sleuth"]
c = c[c.year == 1972]
c[c.n.notnull()].sort('n')

,title,year,name,type,character,n
1524146,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
290601,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
333128,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1309035,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2424114,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1294258,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [169]:
c = cast 
c = c[c.title == "Sleuth"]
c = c[c.year == 2007]
c = c[c.n.notnull()]
c.sort('n')

          title  year           name   type    character  n
290602   Sleuth  2007  Michael Caine  actor       Andrew  1
1155121  Sleuth  2007       Jude Law  actor         Milo  2
1613486  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3

### How many roles were credited in the silent 1921 version of Hamlet?

In [185]:
c = cast 
c = c[c.title == "Hamlet"]
c = c[c.year == 1921]
len(c)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [186]:
c = cast 
c = c[(c.title == "Hamlet") & (c.year == 1996)]
len(c)

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [187]:
c = cast
len(c[c.character == "Hamlet"])

82

### How many people have played an "Ophelia"?

In [189]:
c = cast
len(c[c.character == "Ophelia"])

96

### How many people have played a role called "The Dude"?

In [191]:
c = cast 
c = c[c.character == "The Dude"]
len(c)

16

### How many people have played a role called "The Stranger"?

In [192]:
c = cast 
c = c[c.character == "The Stranger"]
len(c)

192

### How many roles has Sidney Poitier played throughout his career?

In [199]:
c = cast
c = c[c.name == "Sidney Poitier"]
c[c.n.notnull()]
len(c)

43

### How many roles has Judi Dench played?

In [200]:
c = cast
c = c[c.name == "Judi Dench"]
c[c.n.notnull()]
len(c)

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [205]:
c = cast 
c = c[(c.name == "Cary Grant") & (c.year >= 1940) & (c.year <= 1949)]
c = c[(c.n == 2)]
c = c.sort('year')
c

                   title  year        name   type    character  n
778968  My Favorite Wife  1940  Cary Grant  actor         Nick  2
778978    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [206]:
c = cast 
c = c[(c.name == "Cary Grant") & (c.year >= 1940) & (c.year <= 1949)]
c = c[(c.n == 1)].sort('year')
c

,title,year,name,type,character,n
778993,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
778950,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
778995,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
778983,Suspicion,1941,Cary Grant,actor,Johnnie,1
778997,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
778974,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
778941,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
778966,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
778967,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
778975,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
778933,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
778970,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
778969,Night and Day,1946,Cary Grant,actor,Cole Porter,1
778972,Notorious,1946,Cary Grant,actor,Devlin,1
778989,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
778990,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
778965,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
778945,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
778954,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [210]:
c = cast
c = c[(c.type == "actor")]
c = c[(c.year // 10) == 195]
len(c)

148779

### How many roles were avilable for actresses in the 1950s?

In [211]:
c = cast 
c = c[(c.type == "actress") & ((c.year // 10) == 195)]
len(c)

54164

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [212]:
c = cast 
c = c[(c.n == 1) & (c.year <=1980)]
len(c)

61602

### How many non-leading roles were available through from the beginning of film history through 1980?

In [213]:
c = cast 
c = c[(c.n >1) & (c.year <= 1980)]
len(c)

634753

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [214]:
c = cast 
c = c[(c.n.isnull()) & (c.year <= 1980)]
len(c)

417826